@import "tailwindcss";


/* Define CSS variables for the light theme ONLY */
:root {
  --background: #f7f8f5; /* White as HSL/RGB values */
  --foreground: 23 23 23;   /* #171717 as HSL/RGB values */
  
  /* Additional colors from your design */
  --muted: 240 240 240;      /* #f0f0f0 for buttons */
  --accent: 219 228 235;    /* #dbe4eb for the banner */
}


body {
background: var(--background);
color: var(--foreground);
}

.email-cta-bg {
  background-color: #dfedcd;
}
